.construction {
	min-height: 100svh;
	background-color: var(--clr-primary-1);
	color: var(--clr-white);
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.construction-title {
	font-size: 3rem;
}

.construction-text {
	font-size: 1rem;
}

.construction > svg {
	align-self: center;
}
