.footer {
	background-color: var(--clr-primary-1);
	color: var(--clr-white);
	width: 100%;
	border-top: 2px solid var(--clr-black);
}

.footer-grid {
	display: grid;
	grid-template-columns: auto;
	padding: 2.5rem 0rem;
}

.footer-logo {
	grid-row: 1;
	min-width: 6rem;
	width: 6rem;
}

.footer-nav {
	grid-column: 1;
	grid-row: 2;
	margin-top: 2rem;
}

.footer-contact {
	grid-row: 3;
}

.footer-social {
	grid-column: 1;
	grid-row: 4;
}

.footer-nav ul,
.footer-contact ul,
.footer-social ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer h4 {
	text-transform: uppercase;
}

.footer-nav li a {
	color: var(--clr-black);
	font-weight: 700;
	transition: 0.3 ease;
}

.footer li {
	list-style: none;
}

.footer li span {
	margin-left: 1rem;
}

.footer li span,
.address-link {
	color: var(--clr-black);
	font-weight: 700;
	cursor: pointer;
	transition: 0.3s ease;
}

.footer li span:hover,
.footer li span:focus,
.footer-nav li a:hover,
.footer-nav li a:focus,
.address-link:hover,
.address-link:focus {
	color: var(--clr-white);
}

.footer-address {
	display: flex;
	gap: 1rem;
}

@media screen and (min-width: 1024px) {
	.footer-grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 1.5rem;
	}

	.footer-logo {
		grid-area: 1 / 1 / 2 / 2;
	}

	.footer-nav {
		grid-area: 1 / 2 / 2 / 3;
		margin-top: 0rem;
	}

	.footer-contact {
		grid-area: 1 / 3 / 2 / 4;
	}

	.footer-social {
		grid-area: 1 / 4 / 2 / 5;
	}
}
