.form-container {
	min-height: 100svh;
	padding: 2rem;
	padding-inline: 1rem;
	background-color: var(--clr-primary-1);
	max-width: 900px;
	margin: 0 auto;
}

.form-section-header {
	font-family: var(--ff-main);
	line-height: 0.1;
	color: var(--clr-primary-2);
	font-size: 3rem;
	margin-top: 2rem;
}

.form-element {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	gap: 1rem;
	max-width: 400px;
}

.form-element > label {
	font-size: 1.5rem;
	color: var(--clr-primary-2);
	font-family: var(--ff-secondary);
	font-weight: 700;
}

.form-element > label:not(.form-date > label) {
	margin-top: 2rem;
}

.form-element > input,
.form-element > select {
	font-size: 1.5rem;
	color: var(--clr-primary-1);
	border-radius: 10px;
	border: none;
	padding: 0.3rem;
	background-color: var(--clr-white);
}

.form-occasion > label {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
}

.form-requests {
	margin-bottom: 1rem;
}

.form-requests > textarea {
	font-size: 1rem !important;
	color: var(--clr-primary-1);
	border-radius: 10px;
	border: none;
	padding: 0.3rem;
	background-color: var(--clr-white);
}

.button-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 2rem 1.5rem;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.button-container > .btn {
	margin-top: 0rem;
}

.button-container > .btn:first-of-type {
	background-color: var(--clr-secondary-light);
	color: var(--clr-black);
	border: 2px solid var(--clr-white);
	transition: background 0.5s, color 0.5s;
	grid-area: 1 / 1 / 2 / 2;
}

.button-container > .btn:first-of-type:hover {
	background-color: var(--clr-secondary-dark);
	color: var(--clr-white);
}

.button-container > .btn:last-of-type {
	background-color: var(--clr-primary-2);
	color: var(--clr-black);
	border: 2px solid var(--clr-primary-2);
	transition: background 0.5s, color 0.5s;
}

.button-container > .btn:last-of-type:hover {
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
}

.button-container > .btn:last-of-type {
	grid-area: 1 / 2 / 2 / 3;
}

/* Validation*/
#date-description,
#time-description,
#guests-description {
	color: var(--clr-secondary-dark);
	font-size: 0.9rem;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

input:focus[aria-invalid="true"] + .description,
select:focus[aria-invalid="true"] + .description {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	padding: 5px 0;
	clip: auto;
	border: none;
}

input:focus,
select:focus {
	outline: 3px solid var(--clr-secondary-dark);
	/* background-color: var(--clr-primary-2); */
}

@media screen and (max-width: 450px) {
	.form-element > label {
		font-size: 1.3rem;
	}

	.form-element > input,
	.form-element > select {
		font-size: 1.3rem;
	}
}
