:root {
	/* Colors */
	--clr-primary-1: #495e57;
	--clr-primary-2: #f4ce14;
	--clr-secondary-dark: #ee9972;
	--clr-secondary-light: #fbdabb;
	--clr-white: #edefee;
	--clr-black: #333333;
	--clr-black-light: #333333bf;

	/* Fonts */
	--ff-main: "Markazi Text", serif;
	--ff-secondary: "Karla", sans-serif;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: #fff7ed;
	font-family: "Karla", sans-serif;
}

a {
	text-decoration: unset;
	color: unset;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.container {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 768px) {
	.container {
		width: 80%;
	}
}
@media screen and (min-width: 1024px) {
	.container {
		width: 70%;
	}
}
